.section-obtain {
    padding-top: 190px;
    padding-bottom: 190px;
    height: 786px;
    background-image: url('../resources/obtain-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.section-obtain__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

.section-obtain__item {
    max-width: 671px;
}

.section-obtain__title {
    max-width: 560px;
    color: #FF25C2;
}

.section-obtain__desc {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

@media (max-width: 767px) {
    .section-obtain {
        padding-top: 100px;
        padding-bottom: 100px;
        height: 559px;
        background-image: url('../resources/obtain-bg-mobile.png');
        background-position: 20%;
        background-position-y: 10%;
    }
    
    .section-obtain__list{
        gap: 50px;
    }
    
    .section-obtain__item {
        max-width: 309px;
    }
    
    .section-obtain__title {
        max-width: 308px;
    }
    
    .section-obtain__desc {
        font-size: 16px;
        line-height: 19px;
    }
}