.section-workouts {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section-workouts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 154px;
}

.section-workouts__item {
    position: relative;
    max-width: 676px;
}

.section-workouts__title {
    color: #FF25C2;
}

.section-workouts__subtitle {
    display: block;
    max-width: 507px;
}

.section-workouts__item-net::before {
    content: '';
    position: absolute; 
    margin: auto;
    right:0; 
    left: 0;
    bottom: 140px;
    display: block;
    width: 54px;
    height: 54px;
    background-image: url('../resources/item-net.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30%;
    border-radius: 100px;
    background-color: #FF25C2;
}

.section-workouts__item-pause::before {
    content: '';
    position: absolute; 
    margin: auto;
    right:0; 
    left: 0;
    bottom: 140px;
    display: block;
    width: 54px;
    height: 54px;
    background-image: url('../resources/item-pause.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40%;
    border-radius: 100px;
    background-color: #FF25C2;
}

.section-workouts__item-power::before {
    content: '';
    position: absolute; 
    margin: auto;
    right:0; 
    left: 0;
    bottom: 110px;
    display: block;
    width: 54px;
    height: 54px;
    background-image: url('../resources/item-power.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 25%;
    border-radius: 100px;
    background-color: #FF25C2;
}

@media (max-width: 767px) {
    .section-workouts {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .section-workouts__list {
        gap: 124px;
    }
    
    .section-workouts__item {
        max-width: 400px;
    }

    .section-workouts__subtitle {
        max-width: 319px;
    }
    
    .section-workouts__item-net::before {
        bottom: 96px;
    }
    
    .section-workouts__item-pause::before {
        bottom: 96px;
    }
    
    .section-workouts__item-power::before {
        bottom: 77px;
    }
}

@media (max-width: 300px) {
    .section-workouts__title {
        word-break: break-all;
    }
    
    .section-workouts__item-net::before {
        bottom: 110px;
    }
    
    .section-workouts__item-pause::before {
        bottom: 125px;
    }
    
    .section-workouts__item-power::before {
        bottom: 90px;
    }
}