.section-product-intro__title {
    margin-bottom: 20px;
    text-align: center;
}

.section-product-intro__subtitle-wrapper {
   display: flex;
   justify-content: center;
}

.section-product-intro__subtitle {
    max-width: 430px;
}

.section-product-intro__image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.section-product-intro__image {
    max-width: 819px;
    height: 840px;
}

/*
.section-intro{
    padding-bottom: 70px;
}
.intro__dsc-wrapper {
    display: flex;
    justify-content: center;
}

.intro__dsc {
    max-width: 430px;
}

.intro__img-wrapper {
    display: flex;
    justify-content: center;
}

.intro__img {
    max-width: 819px;
    height: 840px;
}

@media (max-width: 1199px) {

}

@media (max-width: 767px) {
    .section-intro{
        padding-bottom: 87px;
    }

    .intro__dsc-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .intro__dsc {
        max-width: 299px;
    }
    
    .intro__img {
        max-width: 427px;
        height: 437px;
    }
}