.section-gallery {
    padding-top: 150px;
}

.section-gallery__title {
    margin-bottom: 100px;
}

.gallery {
    position: relative;
    height: 582px;
    margin-bottom: 68px;
}

.gallery__item {
    position: absolute;
    top: 0;
    left: 0;
    height: 582px;
    width: 100%;
    opacity: 0;
}

.gallery__item_active {
    display: block;
    opacity: 1;
}

.gallery__img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.gallery__img-title-wrapper {
    display: flex;
    justify-content: center;
}

.gallery__img-title {
    position: absolute;
    bottom: 90px;
    max-width: 475px;
}

.gallery__controls-wrapper {
    position: absolute;
    top: 512px;
    width: 100%;
}

.gallery__controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery__control-prev {
    height: 46px;
    width: 46px;
    background-image: url('../resources/control-prev.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.gallery__control-next {
    height: 46px;
    width: 46px;
    background-image: url('../resources/control-next.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .section-gallery__title {
        margin-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .section-gallery {
        padding-top: 100px;
    }
    
    .section-gallery__title {
        margin: auto;
        right: 0;
        left: 0;
        margin-bottom: 50px;
        max-width: 400px;
        word-wrap: break-word;
    }
    
    .gallery {
        position: relative;
        height: 432px;
        margin-bottom: 68px;
    }
    
    .gallery__item {
        height: 432px;
        
    }
    
    .gallery__img-title {
        bottom: 58px;
        max-width: 297px;
    }

    .gallery__img {
        width: 100%;
        height: 432px;
        object-fit: cover;
        object-position: center;
    }
    
    .gallery__controls-wrapper {
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 0 12px 0 12px;
    }
    
    .gallery__controls {
        justify-content: space-between;
    }
    
    .gallery__control-prev {
        height: 28.3px;
        width: 28.3px;
    }
    
    .gallery__control-next {
        height: 28.3px;
        width: 28.3px;
    }
}