.smartphone-info {
    margin-bottom: 150px;
}

.smartphone-info__list {
    display: flex;
    gap: 25px;
}

.smartphone-info__item {
    height: 644px;
}

.smartphone-info__item_narrow {
    max-width: 555px;
}

.smartphone-info__item_wide {
    position: relative;
    width: 570px;
    background-image: url('../resources/nothing-phone.png');
    background-repeat: no-repeat;
    background-position: 50%;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
}

.smartphone-info__desc-wrapper {
    display: flex;
    align-items: flex-end;
    height: 644px;
}

.smartphone-info__desc {
    font-weight: 700;
    font-size: 60px;
    line-height: 93.52%;
    letter-spacing: -0.05em;
}

.smartphone-info__title-wrapper {
    position: absolute;
    top: 50px;
    left: 35px;
}

.smartphone-info__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 93.52%;
    letter-spacing: -0.05em;
}

.smartphone-info__title-wrapper::after {
    content: '';
    position: absolute;
    top: 407px;
    width: 180px;
    height: 142px;
    background-image: url('../resources/nothing-phone-user.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

@media (max-width: 1199px) {
    .smartphone-info__list {
        display: block;
    } 
    .smartphone-info {
        width: 100%;
    }
    .smartphone-info__item {
        height: unset;
    }
    
    .smartphone-info__item_narrow {
        max-width: 831px;
        margin-bottom: 60px;
    }
    
    .smartphone-info__item_wide {
        display: block;
        height: 644px;
        margin-left: auto;
        max-width: 695px;
    }

    .smartphone-info__desc-wrapper {
        height: unset;
    }
}

@media (max-width: 767px) {
    .smartphone-info {
        margin-bottom: 100px;
    }
    
    .smartphone-info__item_narrow {
        width: 100%;
    }
    
    .smartphone-info__item_wide {
        margin: 0 auto;
        width: 100%;
        background-position: 40%;
    }
    
    .smartphone-info__desc {
        width: 100%;
        font-size: 45px;
        word-wrap: break-word;
    }
}